<?xml version="1.0" encoding="utf-8"?>
<!-- test combination 3: Python publisher to Python subscriber -->
<launch>
	<!-- publisher -->
	<node pkg="performance_tests" type="py_publisher.py" name="py_publisher">
		<param name="loop_frequency" type="double" value="20.0"/>
	</node>

	<!-- subscriber -->
	<node pkg="performance_tests" type="py_subscriber.py" name="py_subscriber"/>
</launch>
